/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custome style start  */

body {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  max-width: 80rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
/* flex */

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-30 {
  flex: 0 1 30%;
}
.align-center {
  align-items: center;
}
.full-width {
  width: 100%;
}
.btn {
  text-decoration: none;
  color: white;
  background-color: rgb(105, 184, 103);
  border: none;
  padding: 0.7rem 1.5rem;
  text-transform: capitalize;
  margin-top: 1.2rem;
}
/* header start */

.header {
  background-color: rgb(34, 41, 70);
  padding: 0.5rem;
}
.navbar {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  color: white;
}
.navbar a {
  color: white;
  font-weight: 500;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

#active {
  color: rgb(105, 184, 103);
}
/* hero-section */

.hero-section {
  padding: 6rem 0 3rem 0;
  background-color: rgb(233, 236, 252);
}
.hero-section h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 400;
  color: rgb(34, 41, 70);
}
.hero-section p {
  color: grey;
  margin-top: 0.5rem;
}
.nav {
}
.btn a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  /* margin-top: 1rem; */
}
.flex-wrap {
  flex-wrap: wrap;
}
.section2 {
  margin-bottom: 4rem;
}
.section-header {
  margin: 3rem 0;
  text-align: center;
}
img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}
.article-p {
  color: gray;
}
/* footer */

.footer {
  padding: 0.5rem;
  background-color: rgb(34, 41, 70);
}
small {
  color: rgb(188, 192, 210);
  font-size: 1.5rem;
}
.fab {
  color: rgb(175, 178, 197);
  font-size: 1.8rem;
  padding: 0 2rem;
}

/* responsive css */

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media screen and (max-width: 312px) {
  .container {
    max-width: 312px;
  }
}

@media screen and (max-width: 768px) {
  .flex-wrap-rps {
    flex-wrap: wrap;
  }
  .margin-rps {
    margin: 1rem 0;
  }
  .flex-100-rps {
    flex: 1 1 100%;
  }
  .padding-left-rps {
    padding-left: 1.2rem;
  }
  .align-center-rps {
    align-items: center;
  }
  .column {
    flex-direction: column;
  }
  .row-rps {
    flex-direction: row;
  }
  .flex-rps {
    display: flex;
  }
  .width-rps {
    width: 100%;
  }
  .navbar-rps {
    width: 100%;
    color: white;
  }
  .header-rps {
    width: 100%;
  }
  .padding-rps {
    padding: 1rem 0;
  }
  .padding-bottem-rps {
    padding-bottom: 1rem;
  }
  .order-1 {
    order: 1;
  }
}
